<%= form_for @hour_reserved, :html => { :class => "form-horizontal hour_reserved" } do |f| %>

  <% if @hour_reserved.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@hour_reserved.errors.count, "error") %> prohibited this hour_reserved from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @hour_reserved.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <%= f.hidden_field :reservation_id, :value => @reservation.id %>
  
  <div class ="text-center" >
  <div class="field">
    <%= f.label "Horas Disponbles" %><br />
    <%= f.collection_radio_buttons :hourdate_reserved_id, @hourdate_reserved , :id, :hora do |b| %>
    <div class="collection-check-box">
    <% if @reservation.reserved_day  == Date.today %>
      <% if @hourdate_reserved.find_by_id(b.value).hora.hour > Time.current.hour %>  
        <% if @hourdate_reserved.find_by_id(b.value).enable %>
          <%= b.radio_button %>
          <%= b.text.strftime('%I:%M %p') %>      
        <% else %>
          <%= b.text.strftime('%I:%M %p') %>      
        <% end %>
      <% end %>  
    <% else %>
      <% if @hourdate_reserved.find_by_id(b.value).enableTomorrow %>
        <%= b.check_box %>
        <%= b.text.strftime('%I:%M %p') %>      
      <% else %>
        <%= b.text.strftime('%I:%M %p') %>      
      <% end %>
    <% end %>
    </div>
    <% end %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                hour_reserveds_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
