<%= form_for @reservation, :html => { :class => "form-horizontal reservation" } do |f| %>

<div class="page-header">
  <h1>Tabla de Horas</h1>
</div>

<div class = "form-group" >
    <%= f.label :reserved_day, "Dia de la reservación", :class => 'control-label col-lg-2' %>
    <div class = "col-lg-10" >
        <%= f.select :reserved_day, [["Hoy", @_date], ["Mañana", @_date+1]], {}, {class: "form-control", onchange: 'myFunction()', id: 'select_id'} %>
    </div>
    <%= f.error_span(:horaFinal) %>
</div>
<%= f.hidden_field :study_carrel_id, :value => @carrels.id %>
<%= f.hidden_field :student_id, :value => @student.id %>

  <p id="demo"></p>
  
  <!-- falta validar que solo muestre las hoy disponibls de hoy -->
  <div class="row">
    <div class ="text-center" >
    <div class="field">
      
      <%= f.label "Horas Disponbles" %><br />
      <%= f.collection_check_boxes :hourdate_reserved_id, @hourdate_reserved , :id, :hora do |b| %>
      <% if @hourdate_reserved.find_by_id(b.value).enable %>
        <!-- horas de hoy  -->
        <div class="collection-check-box col-md-4">
          <%= b.check_box %>
          <%= b.text.strftime('%I:%M %p') %>      
        </div>
        <% elsif @hourdate_reserved.find_by_id(b.value).enableTomorrow %>
        <!-- horas de manaña -->
        <div class="collection-check-box col-md-4">
          <%= b.check_box %>
          <%= b.text.strftime('%I:%M %p') %>      
        </div>
        <% else %>
        <!-- solo mostrostramos las horas pero no el check_box -->
        <div class="collection-check-box col-md-4">
          <%= b.text.strftime('%I:%M %p') %> 
        </div>
        <% end %>
      <% end %>
      </div>
    </div>

  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <br />
        <br />
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to "cancelar", carrels_path(@student), :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
  
<% end %>
  
  

