<h1> Cubículos de estudio </h1>

<div class="row">
	
	<% @study_carrels.each do |carreles| %>
			<div class="col-sm-6 col-md-4"> 
				<div class="thumbnail">
					<a class="cubiculos" href="#">
						<div class="caption">
							<h3>Codigo: <%= link_to carreles.code, rassign_path(carreles, @student) %></h3> 
							<p> Capacidad maxima: 
								 <%= carreles.max_number %> <%= image_tag("/assets/User-Group.png", width: '32', height: '32', alt: 'Site Logo', class: "logo") %></p>
							 <p> Carnes requeridos:
								 <%= carreles.max_number/2 %> <%= image_tag("/assets/Student-id-card.png", width: '32', height: '32', alt: 'Site Logo', class: "logo") %></p>
						</div>
					</a>
				</div>
			</div>
	<% end %>
</div>

